head {
  overflow-x: hidden;
  width: 100%;
  height: 10vh;
  background-repeat: no-repeat;
  padding: none;
  top: 8vh;
  left: 0;
}
body {
  color: #f3f3f3;
  background-color: #333333;
  font-family: 'Didact Gothic';
  font-size: clamp(12px, 2vw, 20px);
  text-align: center;
  margin-top: 10%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
h2 {
    font-size: 3rem;
    text-shadow: 2px  1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
@keyframes fadeInOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}}
summary::-webkit-details-marker {
    display: none
}
details summary {
    cursor: pointer;
}
input[type='checkbox'] {
    display: none;
}

.WeaponIcon{max-height: 4vh;max-width: 4vh;} 
.wigglis {
    padding: 6vw 6vh;
    max-width: 30vw;
    max-height: 30vh;
}
.collapsible-contentParagraphs {
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s;
    color: #f3f3f3;
}
.CollHeader {
    text-decoration: underline;
    font-size: 14pt;
    text-align: center;
    width: 80vw;
    color: #f3f3f3;
    margin-left: 10vw;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.CollHeader::before {
    content: ' ';
}
.toggle:checked+.CollHeader+.collapsible-contentParagraphs {
    max-height: 1000vh;
}
.IndexImg {
    width: 30vw;
    padding: 2vw;
    margin: 2vw;}
.explainImg {
    width: 2vw;}
      .BuildCard {
      display: block;
      min-width: 600px;
      max-width: 60vw;
      padding: 1vw;
    margin: 0 auto;}
.BuildCardMobile {
    padding: 1vw;
    display: none;}
.ParagraphText {
    text-align: left;}
.TableScreenshot {
    padding: 1vw;
    display: none;}
.collapsible-contentLinks {
    max-height: 0px;
    overflow: hidden;
    transition: 0.2s;
    max-width: 100vw;
    color: #f3f3f3;}
.LinksHeader {
    text-decoration: underline;
    font-size: 14pt;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    transition: 0.3s ease-in;
    max-width: 10vw;
    background-color: #6e6e6e;}
.LinksHeader::before {
      content: ' ';}
.toggle:checked+.LinksHeader+.collapsible-contentLinks {
    max-height: 1000vh;
    max-width: 80vw;}
.LinksHeader-contentLinks {
    max-height: 0px;
    text-align: center;
    transition: 0.2s;
    background-color: rgb(92, 90, 90);
    color: #f3f3f3;}
.SetLinksContainer{
    clear:both;}
.BuildParagraph {
    margin-left: 10vw;
    margin-right: 10vw;}
.switchskilltable {
    table-layout: fixed;
    text-align: center;
    max-width: 80vw;
    margin: auto;
    min-width: 40vw;
    border-collapse: collapse;
    font-size: clamp(14px, 2em, 30px);}
.switchskilltable thead th:nth-child(1) {
    width: 5%;
    border: 1px solid white;}
.switchskilltable thead th:nth-child(2) {
    width: 15%;
    border: 1px solid #ddd;}
.switchskilltable thead th:nth-child(3) {
    width: 15%;
    border: 1px solid #ddd;}
.switchskilltable thead th:nth-child(4) {
    width: 15%;
    border: 1px solid #ddd;}
.switchskilltable thead th:nth-child(5) {
    width: 50%;
    border: 1px solid #ddd;}
.switchskilltable td {
    padding: 20px;
    border: 1px solid #ddd;}
.switchskilltable tbody tr {
    border: 1px solid #ddd;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);}
.switchskilltable tfoot th {
    border: none;}
.switchskilltable tbody tr:nth-child(odd) {
    background-color: #a09c9c;}
.switchskilltable tbody tr:nth-child(even) {
    background-color: #757575;}
.rawtable {
    table-layout: fixed;
    text-align: center;
    max-width: 80vw;
    margin: auto;
    min-width: 40vw;
    border-collapse: collapse;
    font-size: clamp(14px, 2em, 30px);}
.rawtable thead th:nth-child(1) {
    width: 5%;
    border: 1px solid #ddd;}
.rawtable thead th:nth-child(2) {
    width: 15%;
    border: 1px solid #ddd;}
.rawtable thead th:nth-child(3) {
    width: 15%;
    border: 1px solid #ddd;}
.rawtable thead th:nth-child(4) {
    width: 15%;
    border: 1px solid #ddd;}
.rawtable thead th:nth-child(5) {
    width: 50%;
    border: 1px solid #ddd;}
.rawtable td {
    padding: 20px;
    border: 1px solid #ddd;}
.rawtable tbody tr {
    border: 1px solid #ddd;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);}
.rawtable tfoot th {
    border: none;}
.rawtable tbody tr:nth-child(odd) {
    background-color: #a09c9c;}
.rawtable tbody tr:nth-child(even) {
    background-color: #757575;}
.inlineimg {width: 5vw;}
.eletable {
    table-layout: fixed;
    text-align: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;}
.eletable thead th:nth-child(1) {
    width: 5%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(2) {
    min-width: 10%;
    max-width: 30%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(3) {
    width: 15%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(4) {
    width: 15%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(5) {
    width: 50%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(6) {
    width: 10%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(7) {
    width: 10%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(8) {
    width: 10%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(9) {
    width: 10%;
    border: 2px solid #ffffff;}
.eletable thead th:nth-child(10) {
    width: 10%;
    border: 2px solid #ffffff;}
.eletable td {
    border: 2px solid #ffffff;}
.eletable th {
    border: 2px solid white;}
.eletable tbody tr {
    border: 2px solid #ffffff;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);}    
.eletable tfoot th {
    border: none;}
.eletable tbody tr:nth-child(1) {
    background-color: #cf5151;}
.eletable tbody tr:nth-child(2) {
    background-color: #290b94;}
.eletable tbody tr:nth-child(3) {
    background-color: #8a8a0b;}
.eletable tbody tr:nth-child(4) {
    background-color: #215c5c;}
.eletable tbody tr:nth-child(5) {
    background-color: #48096d;}
.eletableMobile {
    display: none;}
.gltable {
    table-layout: fixed;
    text-align: center;
    max-width: 80%;
    max-height: 100%;
    min-width: 40%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;}
.gltable thead th:nth-child(1) {
    width: 5%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(2) {
    width: 15%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(3) {
    width: 15%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(4) {
    width: 15%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(5) {
    width: 50%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(6) {
    width: 10%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(7) {
    width: 10%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(8) {
    width: 10%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(9) {
    width: 10%;
    border: 2px solid #ffffff;}
.gltable thead th:nth-child(10) {
    width: 10%;
    border: 2px solid #ffffff;}
.gltable td {
    padding: 20px;
    border: 2px solid #ffffff;}
.gltable tbody tr {
    border: 2px solid #ffffff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);}
.gltable tfoot th {
    border: none;}
.gltable tbody tr:nth-child(even) {
    background-color: #5f5f5f;}
.gltable tbody tr:nth-child(odd) {
    background-color: #3d3d3d;}
.skillpriotable {
    table-layout: fixed;
    text-align: center;
    max-width: 80%;
    max-height: 100%;
    min-width: 40%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;}
.skillpriotable thead th:nth-child(1) {
    width: 3%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(2) {
    width: 25%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(3) {
    width: 72%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(4) {
    width: 15%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(5) {
    width: 50%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(6) {
    width: 10%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(7) {
    width: 10%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(8) {
    width: 10%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(9) {
    width: 10%;
    border: 2px solid #ffffff;}
.skillpriotable thead th:nth-child(10) {
    width: 10%;
    border: 2px solid #ffffff;}
.skillpriotable td {
    padding: 20px;
    border: 2px solid #ffffff;}
.skillpriotable tbody tr {
    border: 2px solid #ffffff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);}
.skillpriotable tfoot th {
    border: none;}
.skillpriotable tbody tr:nth-child(even) {
    background-color: #5f5f5f;}
.skillpriotable tbody tr:nth-child(odd) {
    background-color: #3d3d3d;}
.best {
    background-color: #3e9249;}
.good {
    background-color: #76a063;}
.bad {
      background-color: #9e4949;}
.redscroll {
    color: #ff0000;}
.bluescroll {
    color: #7777fa;}
.tooltip {
    position: relative;
    display: inline-block;}
.tooltip .tooltiptext {
    visibility: hidden;
    background: linear-gradient(0deg, #000, #272727);
    color: #f3f3f3;
    text-align: left;
    border-radius: 5px;
    border: solid;
    border-color:#757717;
    position: absolute;
    bottom: 90%;}
.tooltip:hover .tooltiptext {
    visibility: visible;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation: flicker 10s infinite;
      }
      /*yoinked from https://www.sliderrevolution.com/resources/css-border-animation/ - by Nick*/
      .tooltiptext:before, .tooltiptext:after {
        content: '';
        position:absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear;}
      
      @keyframes steam {
        0% {background-position: 0 0;}
        50% {background-position: 400% 0;}
        100% {background-position: 0 0;}}
.tooltiptext:after {filter: blur(50px);} /*yoinked from https://www.sliderrevolution.com/resources/css-border-animation/ - by Nick*/
.CollL2Page {
    border: 2px solid white;
    border-radius: 5%;
    text-align: center;
    background-color: #333333;
    color: #f3f3f3;}
::-webkit-scrollbar {display: none;}
.sidebarbutton {
    text-decoration: underline;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    transition: 0.3s ease-in;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 10;
    width: 3.4vw; height: 4vw; min-height: 80px; min-width: 70px;}
.sidebarbutton::before {
    display: hidden;}
.toggle:checked+.sidebarbutton+.collapsible-contentSidebar {
    max-height: 100vh;
    max-width: 100vw;
    top:0;
    transform: translateX(-150%);}
.collapsible-contentSidebar {
    top:0;
    overflow:scroll;
    text-align: center;
    transition: 0.2s;
    height: 100vh;
    color: #f3f3f3;
    position: fixed;
    background-color: rgb(32, 47, 51);
    border: 2px solid white;
    border-radius: 3%;
    z-index: 5;}
.burger {width: 3.4vw; height: 4vw; min-height: 80px; min-width: 70px;}
.collapsible-contentSidebar1 {
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s;
    background-color: rgb(32, 47, 51);
    z-index: -20;
    color: #f3f3f3;
    width: 40vw;}
.toggle:checked+.collapsibleSidebar+.collapsible-contentSidebar1 {
    max-height: 150vh;
    margin: auto;
    max-width: 100%;}
.collapsibleSidebar {
    text-decoration: underline;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    width: 40vw;
    transition: 0.5s ease-in;
    height: 100vh;}
.sidebar {
    width: 80vw;} 
.MainPagesBurger {
    font-size: 1.7rem;}
.collapsible-contentSidebar1 a:link, a:visited {
    color: #f3f3f3;
    padding-left:1vw ;
    padding-right: 1vw;
    border-style: dashed;
    text-align: center;
    background-color: #333333;
    max-width: 728px;
    text-align: center;
    font-size: 1.2rem;}
.collapsible-contentSidebar1 a:hover {
    font-size: 1.8rem;}
.collapsible-contentSidebar1 a:active {
    color: #444;
    border: 2px green;
    background-color: #444;
    font-size: 1.8rem;}
.Side_Img {
    width: 8vw;
    height: 8vw;}
.collapsible-contentToC {
      overflow: hidden;
      text-align: center;
      transition: 0.2s;
      color: #f3f3f3;}
.ToCHeader {
    text-decoration: underline;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    transition: 0.3s ease-in;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
    height: 6vh;
    width: 4vw;}
.ToCHeader::before {display: hidden;}
.toggle:checked+.ToCHeader+.collapsible-contentToC {
    max-height: 100vh;
    transform: translateY(-100%);}
.CollToc {
    width: 22vw;
    min-width: 395px;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;}
.ToCHeader-contentToC {
    height: 100vh;
    overflow: hidden;
    transition: 0.2s;
    background-color: rgb(92, 90, 90);
    color: #f3f3f3;}
.Toc_Img {
    width: 6vw;
    height: 6vw;}
.ColledToc {
    left: 0;
    background: linear-gradient(60deg, rgba(92, 92, 92, 0.95), rgb(84, 2, 117, 0.95));
    border: 2px solid gold;
    margin-left: 6vw;
    padding-bottom: 1vh;
    text-align: left;}
.ColledToc a:link, a:visited {
    color: #f3f3f3;
    padding-left:1vw ;
    border-style: dashed;
    border-color: #464646;
    text-align: center;
    background: linear-gradient(60deg, rgba(36, 2, 70, 0.993), rgb(0, 0, 0));   
    font-size: 1rem;}
.ColledToc a:hover {
    font-size: 1.1rem;}
.ColledToc a:active {
    border: 2px green;
    background-color: #444;
    font-size: 0.9rem;}
#endgame, #prog, #guide {
    display: none;}
#endgame {
    background: linear-gradient(200deg, rgba(189, 65, 73, 0.699), rgba(255, 211, 99, 0.705) );}
#prog {
    background: linear-gradient(20deg, rgb(140, 174, 90), rgb(103, 100, 215) );}
#guide {
    background-image: linear-gradient(to right top, #000000, #31262f, #514b66, #5979a3, #43add8, #33b3d3, #2eb8cb, #37bcc1, #399295, #356b6c, #2c4546, #202323);}
input[id="showendgame"]:checked ~ #endgame,
input[id="showprog"]:checked ~ #prog,
input[id="showguide"]:checked ~ #guide {
    display: block;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s; width: 40vw; margin: auto; border: 2px solid gray;}
input[id="showendgame"]:checked ~ .radiotext1,
input[id="showguide"]:checked ~ .radiotext2,
input[id="showprog"]:checked ~ .radiotext3 {
    border: 4px solid;
    animation: flicker 4s infinite;
    background-color: #000000;}    
@keyframes flicker {
    0% {border-color: rgba(179, 252, 255, 0.3);
    border-bottom-color: white;}
    50% {border-color: rgba(179, 252, 255, 1);
    border-bottom-color:white;}
    100% {border-color: rgba(179, 252, 255, 0.3);
    border-bottom-color: white;}}  
.lefttext {text-align: left;}
.radiobutton {display: none;}
.radiotext1, .radiotext2, .radiotext3 {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 4vw;
    height: 2vh;
    cursor: pointer;
    border: 2px solid white;
    background-color: #333333;}
.PeopleTable {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 65vw;}
.PeopleImg {
    width: 7vw;}
.PeopleTable tbody tr {
    text-shadow: 3px 3px 3px rgb(0, 0, 0);}
.SmallImg {
    width: 3vw;}
.PeopleTableSmall {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50vw;}
.PeopleTableSmall tbody tr {
    text-shadow: 3px 3px 3px rgb(0, 0, 0);}
.centertext {
    text-align: center; display: block;}
.gamememe {
    z-index: -1;
    width: 85vw;}
.Level2Paragraph {
    text-align: left;
    width: 40vw;
    margin-left: 10vw;
    margin-right: 10vw;}
.Patchnotes {
    width: 15vw;}
.GuideImg {
    width: 65vw;
    z-index: -1;} 
.GuideParagraph {
    margin-left: 10vw;
    margin-right: 10vw;}
.GuideParagraphText {
    text-align: left;}
.bluebg {background-color: rgba(116, 116, 223, 0.432);}
.redbg {background-color: rgba(233, 107, 107, 0.425);}
.GuideCard {
    min-width: 600px;
    margin: 0 auto;
    display: block;}
.GuideCardMobile {display: none;}
.YouTube {
      width: 40vw;
      height: 40vh;
      padding: 1vw;
      display: block;
      margin: 0 auto;}
.rawtableMobile{display: none;}
/*complete yt lite embed yoinked from: https://github.com/paulirish/lite-youtube-embed*/
lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 720px;}
lite-youtube::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    top: 0;
    /* Pixel-perfect port of YT's gradient PNG, using https://github.com/bluesmoon/pngtocss plus optimizations */
    background-image: linear-gradient(180deg, rgb(0 0 0 / 67%) 0%, rgb(0 0 0 / 54%) 14%, rgb(0 0 0 / 15%) 54%, rgb(0 0 0 / 5%) 72%, rgb(0 0 0 / 0%) 94%);
    height: 99px;
    width: 100%;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    color: hsl(0deg 0% 93.33%);
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    font-size: 18px;
    padding: 25px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;}
lite-youtube:hover::before {
      color: white;}
    /* responsive iframe with a 16:9 aspect ratio thanks https://css-tricks.com/responsive-iframes/*/
lite-youtube::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));}
lite-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;}
lite-youtube > .lty-playbtn {
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center/68px 48px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
    position: absolute;
    cursor: pointer;
    z-index: 1;
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: 0;}
lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
    filter: none;}
lite-youtube.lyt-activated {
    cursor: unset;}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;}
.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;} /*complete yt lite embed yoinked from: https://github.com/paulirish/lite-youtube-embed*/
.spaceholder { visibility: hidden; width: 1px; height: 30vh;}
.L2Container {text-align: center; display: inline-block; width: 25vw;}
.L2Container:hover {transform: scale(1.3);}
.l2guideimg {width: 20vw;}
.RiseMeme {background-image: url(images/AmazonPrimordialDarkVest.webp); background-repeat: no-repeat; background-size: 80vw; background-position: 50% 2%;}
.WorldMeme {background-image: url(images/slap_roof_of_fatty.webp); background-repeat: no-repeat; background-size: 80vw; background-position: 50% 2%;}
.EleStatusImg {
    object-fit: cover;
    width: 100%;
    height: 100%;}